/* About Me Image Styling */
#about .about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.about-image {
    width: 375px;
    height: 450px;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 15px;
}


.logo-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 15px;
    padding: 10px;
}

.flex-container {
  display: flex; /* Makes the container a flex container */
  justify-content: left; /* Distributes space evenly */
  align-items: flex-start; /* Aligns items to the start of the cross-axis */
}

.column-left {
  padding: 10px;
  margin: 5px;
  flex:1;
}

.column-right {
  padding: 10px;
  margin: 5px;
  flex:.25;
}

.about-blurb {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}