/* About Me Image Styling */
#about .about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.about-image {
    width: 500px;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Soft shadow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 15px;
}

.about-image:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4); /* Slightly larger shadow on hover */
}

/* Lightbox Overlay */
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
}